<div class="benefits">
    <div class="container">
        <div class="benefits__row">
            <div class="benefits__col">
                <div class="benefit">
                    <h5 class="benefit__title">Hand-crafted with surgical steel and surrounded in 14k Everlasting White Gold™️.</h5>
                </div>
            </div>
            <div class="benefits__col">
                <div class="benefit">
                    <h5 class="benefit__title">Necklace rests atop a personalized message--giving you the chance to express your love with a message that will always be remembered.</h5>
                </div>
            </div>
            <div class="benefits__col">
                <div class="benefit">
                    <h5 class="benefit__title">Comes with beautifully-designed box free of charge!</h5>
                </div>
            </div>
        </div>
    </div>
</div>