<div class="faq">
    <div class="faq__header text-center">
        <h2 class="faq__title title">FREQUENTLY ASKED QUESTIONS</h2>
    </div>
    <div class="faq__content">

        <ul class="faq__list">

            <li class="faq__item">
                <h4 class="faq__question">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vehicula,
                    mauris quis pellentesque efficitur, leo nisi scelerisque eros, eget accumsan tortor nulla in augue?
                </h4>
                <div class="faq__answer">
                    <p>Pellentesque viverra mi id vestibulum ultricies. Donec sed efficitur leo. Mauris augue tellus,
                        tincidunt ac finibus consequat, ullamcorper non eros. Morbi id dui tristique nisi congue
                        faucibus non id nibh. Donec auctor quam massa, ac bibendum ante feugiat non. Proin faucibus vel
                        purus ut pellentesque. Donec id pellentesque massa. Nam finibus at libero nec ullamcorper. Duis
                        pulvinar mauris vel elementum ullamcorper. Nulla nec sem ac lectus congue eleifend. Sed
                        tincidunt pretium urna, et lacinia nisi bibendum dictum.</p>
                </div>
            </li>
            <li class="faq__item">
                <h4 class="faq__question">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vehicula,
                    mauris quis pellentesque efficitur, leo nisi scelerisque eros, eget accumsan tortor nulla in augue?
                </h4>
                <div class="faq__answer">
                    <p>Pellentesque viverra mi id vestibulum ultricies. Donec sed efficitur leo. Mauris augue tellus,
                        tincidunt ac finibus consequat, ullamcorper non eros. Morbi id dui tristique nisi congue
                        faucibus non id nibh. Donec auctor quam massa, ac bibendum ante feugiat non. Proin faucibus vel
                        purus ut pellentesque. Donec id pellentesque massa. Nam finibus at libero nec ullamcorper. Duis
                        pulvinar mauris vel elementum ullamcorper. Nulla nec sem ac lectus congue eleifend. Sed
                        tincidunt pretium urna, et lacinia nisi bibendum dictum.</p>
                </div>
            </li>
            <li class="faq__item">
                <h4 class="faq__question">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vehicula,
                    mauris quis pellentesque efficitur, leo nisi scelerisque eros, eget accumsan tortor nulla in augue?
                </h4>
                <div class="faq__answer">
                    <p>Pellentesque viverra mi id vestibulum ultricies. Donec sed efficitur leo. Mauris augue tellus,
                        tincidunt ac finibus consequat, ullamcorper non eros. Morbi id dui tristique nisi congue
                        faucibus non id nibh. Donec auctor quam massa, ac bibendum ante feugiat non. Proin faucibus vel
                        purus ut pellentesque. Donec id pellentesque massa. Nam finibus at libero nec ullamcorper. Duis
                        pulvinar mauris vel elementum ullamcorper. Nulla nec sem ac lectus congue eleifend. Sed
                        tincidunt pretium urna, et lacinia nisi bibendum dictum.</p>
                </div>
            </li>

        </ul>


    </div>
</div>