<div class="testimonial">
    <div class="testimonial__header">
        <h2 class="testimonial__title title text--bolder">What Our Customers Are Saying</h2>
    </div>
    <div class="testimonial__content">

        <ul class="testimonial__slider">

            <li class="testimonial__item">
                <div class="testimonial__image"><img data-src="{{ 'client.png'  | asset_url }}"></div>
                <p class="testimonial__text">
                    "I love love love this necklace! I wear it all the time. My grandma passed away and my mom gave me
                    this as a gift with a personalized message, something my grandma used to always tell me. It means so
                    much to me. Thanks again!!!"
                </p>
            </li>
            <li class="testimonial__item">
                <div class="testimonial__image"><img data-src="{{ 'client.png'  | asset_url }}"></div>
                <p class="testimonial__text">
                    "I love love love this necklace! I wear it all the time. My grandma passed away and my mom gave me
                    this as a gift with a personalized message, something my grandma used to always tell me. It means so
                    much to me. Thanks again!!!"
                </p>
            </li>

        </ul>
    </div>
</div>