<style>
    .timer__list {
        display: inline-flex;
        align-items: center;
    }
    .timer__item{
        padding: 30px 15px 15px;
    }
    .timer__title{
        font-size: 40px;
        font-weight: 900;
        color: #707070;
    }
</style>
<div class="timer">
    <ul class="timer__list">
        <li class="timer__item">
            <h5 class="timer__title" id="hours"></h5>
            <p>hours</p>
        </li>
        <li class="timer__item">
            <h5 class="timer__title" id="minutes"></h5>
            <p>minutes</p>
        </li>
        <li class="timer__item">
            <h5 class="timer__title" id="seconds"></h5>
            <p>seconds</p>
        </li>
    </ul>
</div>

<script>
    function makeTimer() {
        var endTime = new Date("03 June 2020 19:00:00 GMT+05:30");
        var endTimeTime = endTime.getTime();
        console.log(endTimeTime);
        endTime = (Date.parse(endTime) / 1000);

        var now = new Date();
        now = (Date.parse(now) / 1000);

        var timeLeft = endTime - now;

        var days = Math.floor(timeLeft / 86400);
        var hours = Math.floor((timeLeft - (days * 86400)) / 3600);
        var minutes = Math.floor((timeLeft - (days * 86400) - (hours * 3600)) / 60);
        var seconds = Math.floor((timeLeft - (days * 86400) - (hours * 3600) - (minutes * 60)));

        if (hours < "10") {
            hours = "0" + hours;
        }
        if (minutes < "10") {
            minutes = "0" + minutes;
        }
        if (seconds < "10") {
            seconds = "0" + seconds;
        }

        document.getElementById('hours').innerHTML = hours;
        document.getElementById('minutes').innerHTML = minutes;
        document.getElementById('seconds').innerHTML = seconds;

        Golive = new Date();
    }

    setInterval(function () {
        makeTimer();
    }, 1000);
</script>