<section class="section">
    <div class="container">
        <div class="section__content">
            <div class="customer">
                <div class="customer__left"></div>
                <div class="customer__right"></div>
            </div>
        </div>
    </div>
</section>