//Common styles
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: $textFont;
    font-size: 16px;
    margin: 0 auto;
    color: #333333;
    background-color: $light;
}
a {
    color: $primary;
    @include hover($hoverColor);
    text-decoration: none;
}
:focus {
    outline: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $titleFont;
    font-weight: 600;
    color: $primary;
}

h1,
.h1 {
    font-size: $h1;
}
h2,
.h2 {
    font-size: $h2;
}
h3,
.h3 {
    font-size: $h3;
}
h4,
.h4 {
    font-size: $h4;
}
h5,
.h5 {
    font-size: $h5;
}
h6,
.h6 {
    font-size: $h6;
}
p {
    font-size: $p;
    margin-bottom: 15px;
}
ul,
ol {
    list-style-type: none;
}
small,
.small {
    font-size: $small;
}
.container {
    width: 100%;
    max-width: $containerWidth;
    margin: 0 auto;
    padding: 0 $containerPadding;
}

.text-center {
    text-align: center !important;
}
.text-left {
    text-align: left !important;
}
.text-right {
    text-align: right !important;
}
.width--full {
    width: 100% !important;
}
.bg--white {
    background-color: #fff !important;
}
.title {
    @include title();
}
@media (max-width: 767px) {
    .title br {
        display: none;
    }
    .title {
        font-size: 28px;
    }
}

.text--bolder {
    font-weight: 900 !important;
}
.description--bold {
    font-weight: 500;
    font-size: 18px;
    color: $primary;
}
.description--auto {
    max-width: 900px;
    margin: 10px auto 15px;
}

/*Lazy Loading Settings*/
.image {
    opacity: 0;
    min-height: 400px;
}
.image:not(.initial) {
    transition: opacity 1s;
}
.image.initial,
.image.loaded,
.image.error {
    opacity: 1;
    min-height: 0;
}
.image:not([src]) {
    visibility: hidden;
}
/*Lazy Loading Settings*/

/*Sections*/
.section {
    padding: $sectionPad;
}
.section--sm {
    padding: $sectionMobilePad;
}
.section__content {
    padding-top: 50px;
}
.section__title {
    font-size: 36px;
    font-weight: 600;
    color: $primary;
    margin-bottom: 15px;
}
.section__subtitle {
    font-size: 24px;
    font-weight: 900;
    color: #707070;
}
.section__description {
    font-size: $p;
}

@media (max-width: 1199px) {
    .section {
        padding: $sectionMobilePad;
    }
}
/*Sections Ends*/

/*Custom Checkbox*/
.checkbox {
    display: flex;
    align-items: center;
}
.checkbox__group {
    width: 24px;
    height: 24px;
    display: inline-block;
    position: relative;
    margin-right: 5px;
}
.checkbox input,
.checkbox__input {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 5;
    opacity: 0;
}
.checkbox__tick {
    display: block;
    height: 24px;
    background-image: url(checkbox-uncheck.png);
    background-size: 20px;
    background-position: center;
    background-repeat: no-repeat;
}
.checkbox__input:checked + .checkbox__tick {
    background-image: url(checkbox-check.png);
}

/*Challenge  Page*/
.shopify-challenge__container {
    max-width: 500px;
    margin: 0 auto;
    padding: 100px 0;
}
.shopify-challenge__container .shopify-challenge__button {
    background: #000;
    color: #fff;
}
/*//Challenge  Page**/
