.testimonial{
    text-align: center;
}
.testimonial__header{
    margin-bottom: 50px;
}
.testimonial__image img{
    margin: 0 auto 30px;
    width: 200px;
    height: 200px;
    margin-bottom: 15px;
}
.testimonial__text{
    font-size: 20px;
    line-height: 1.5;
    color: #707070;
    max-width: 900px;
    margin: 0 auto;
}