<section class="section">
    <div class="container">
        <div class="section__header text-center">
            <h2 class="section__title">"Best Holder for Going live on Socail Media, Reading Book, Watching Movie"</h2>
        </div>
        <div class="section__content">


            <div class="card card--reverse">
                <div class="card__left">
                    <div class="card__text">
                        <h3 class="card__title animate__fadeIn animate__animated">"This holder can relieve your child's
                            neck pain."</h3>
                        <p class="card__info animate__fadeIn animate__animated">I'll never forget the tone of the
                            doctor's voice when he said those words to me over the phone. </p>
                        <p>I was told mom was making progress. So, I thought it was okay to leave just for a bit so I
                            could go freshen up--seeing as I hadn't left mom's bedside for 3 days. But while I was out,
                            her health took a sudden turn for the worse... </p>
                        <p>She was alone, in a darkened hospital surrounded by cold monitors. </p>
                    </div>
                </div>
                <div class="card__right">
                    <div class="card__img">
                        <img data-src="{{ 'card-1.png' | asset_url }}" class="image" />
                    </div>
                </div>
            </div>


            <div class="card">
                <div class="card__left">
                    <div class="card__text">
                        <h3 class="card__title animate__fadeIn animate__animated">It is made to watch your movie</h3>
                        <p class="card__info">I cried over her body, apologizing over and over again. Apologizing for not being there for her. Apologizing for leaving her side... </p>
                        <p class="card__info">As I was crying, I remember gripping the heart pendant necklace around my neck, the necklace mom gave me a week or so before she entered the hospital. </p>
                        <p class="card__info">As I held it, it gave me a spirit of comfort, almost as if she was still there with me, telling me, "It's OK. I love you and I will always be with you." It was my only source of peace in that moment of pain.</p>
                    </div>
                </div>
                <div class="card__right">
                    <div class="card__img">
                        <img data-src="{{ 'card-2.png' | asset_url }}" class="image" />
                    </div>
                </div>
            </div>


            <div class="card card--reverse">
                <div class="card__left">
                    <div class="card__text">
                        <h3 class="card__title">Even when you can cook following online recipe</h3>
                        <p class="card__info">This timeless necklace is designed with a vibrant 6.5mm Cubic Zirconia inside an open heart--symbolizing the one love, the one you miss, the one you'll never forget.</p>
                    </div>
                </div>
                <div class="card__right">
                    <div class="card__img">
                        <img data-src="{{ 'card-3.png' | asset_url }}" class="image" />
                    </div>
                </div>
            </div>
        </div>
        
        {% include 'benefits' %}
    </div>
</section>



