* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  font-family: "Segoe";
  font-size: 16px;
  margin: 0 auto;
  color: #333333;
  background-color: #f8f8f8; }

a {
  color: #000;
  text-decoration: none; }
  a:focus, a:active, a:hover {
    color: black; }

:focus {
  outline: none; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Segoe";
  font-weight: 600;
  color: #000; }

h1,
.h1 {
  font-size: 3em; }

h2,
.h2 {
  font-size: 2.75em; }

h3,
.h3 {
  font-size: 2.5em; }

h4,
.h4 {
  font-size: 1.5em; }

h5,
.h5 {
  font-size: 1.25em; }

h6,
.h6 {
  font-size: 1em; }

p {
  font-size: 1.1em;
  margin-bottom: 15px; }

ul,
ol {
  list-style-type: none; }

small,
.small {
  font-size: 0.75em; }

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px; }

.text-center {
  text-align: center !important; }

.text-left {
  text-align: left !important; }

.text-right {
  text-align: right !important; }

.width--full {
  width: 100% !important; }

.bg--white {
  background-color: #fff !important; }

.title {
  font-size: 36px;
  font-weight: 600;
  color: #000; }

@media (max-width: 767px) {
  .title br {
    display: none; }
  .title {
    font-size: 28px; } }

.text--bolder {
  font-weight: 900 !important; }

.description--bold {
  font-weight: 500;
  font-size: 18px;
  color: #000; }

.description--auto {
  max-width: 900px;
  margin: 10px auto 15px; }

/*Lazy Loading Settings*/
.image {
  opacity: 0;
  min-height: 400px; }

.image:not(.initial) {
  transition: opacity 1s; }

.image.initial,
.image.loaded,
.image.error {
  opacity: 1;
  min-height: 0; }

.image:not([src]) {
  visibility: hidden; }

/*Lazy Loading Settings*/
/*Sections*/
.section {
  padding: 100px 0; }

.section--sm {
  padding: 60px 0; }

.section__content {
  padding-top: 50px; }

.section__title {
  font-size: 36px;
  font-weight: 600;
  color: #000;
  margin-bottom: 15px; }

.section__subtitle {
  font-size: 24px;
  font-weight: 900;
  color: #707070; }

.section__description {
  font-size: 1.1em; }

@media (max-width: 1199px) {
  .section {
    padding: 60px 0; } }

/*Sections Ends*/
/*Custom Checkbox*/
.checkbox {
  display: flex;
  align-items: center; }

.checkbox__group {
  width: 24px;
  height: 24px;
  display: inline-block;
  position: relative;
  margin-right: 5px; }

.checkbox input,
.checkbox__input {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 5;
  opacity: 0; }

.checkbox__tick {
  display: block;
  height: 24px;
  background-image: url(checkbox-uncheck.png);
  background-size: 20px;
  background-position: center;
  background-repeat: no-repeat; }

.checkbox__input:checked + .checkbox__tick {
  background-image: url(checkbox-check.png); }

/*Challenge  Page*/
.shopify-challenge__container {
  max-width: 500px;
  margin: 0 auto;
  padding: 100px 0; }

.shopify-challenge__container .shopify-challenge__button {
  background: #000;
  color: #fff; }

/*//Challenge  Page**/
.btn {
  text-decoration: none;
  display: inline-block;
  padding: 20px 60px;
  line-height: 1.2;
  border: 0;
  border-radius: 40px;
  font-size: 1em;
  cursor: pointer;
  text-align: center;
  font-weight: 600;
  text-transform: uppercase; }
  @media (max-width: 991px) {
    .btn {
      padding: 20px 30px;
      line-height: 1.2;
      font-size: 1em; } }

.btn--sm {
  padding: 16px 25px;
  font-size: 0.75em; }

.btn--block {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px; }

.btn--dark {
  background: #000;
  border: 1px solid #000;
  color: #ffffff; }
  .btn--dark:hover {
    background: black;
    border: 1px solid black;
    transition: all 0.3s ease;
    color: #ffffff; }
  .btn--dark:active {
    background: black;
    border: 1px solid black;
    color: #ffffff; }

.announcement {
  background-color: #707070;
  padding: 8px 15px;
  text-align: center; }

.announcement__text {
  font-size: 16px;
  color: #fff; }

.header {
  position: relative;
  padding: 30px 0;
  background: #fff; }

.header__inner {
  padding: 0 70px;
  display: flex;
  align-items: center;
  justify-content: space-between; }

.header__logo img {
  width: 90px; }

.header__rightList {
  display: flex;
  list-style: none;
  align-items: center; }

.header__item {
  display: inline-block;
  margin-left: 30px; }

.header__icon {
  width: 24px;
  height: 24px; }

.navbar__list {
  list-style: none;
  display: flex; }
  .navbar--row .navbar__list {
    flex-direction: column; }

.navbar__item {
  padding: 0 30px; }
  .navbar--row .navbar__item {
    padding: 10px 0; }

.navbar__link {
  color: #000;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500; }
  .navbar__link.active {
    font-weight: bold; }
  .footer .navbar__link {
    color: #fff; }

@media (max-width: 1199px) {
  .header {
    position: static !important; }
  .header__logo img {
    width: 70px; }
  .header__inner {
    padding: 0 15px;
    flex-wrap: wrap; }
  .header .navbar {
    width: 100%;
    height: auto;
    left: 0;
    transition: all 0.3s ease 0s;
    top: -350%;
    padding: 0;
    background-color: #fff;
    z-index: 99;
    order: 3;
    max-height: 0;
    overflow: hidden;
    border-top: 0;
    margin-top: 0; }
  .header.header--open .navbar {
    max-height: 550px;
    padding-top: 20px;
    margin-top: 20px;
    border-top: 1px solid #ececec; }
  .header .navbar__list {
    list-style: none;
    display: flex;
    flex-direction: column; }
  .header .navbar__item {
    padding: 10px 30px; }
  .header__cart {
    display: flex;
    align-items: center; }
  .header__cart a {
    margin-left: 15px;
    line-height: 0; }
  .header__item {
    margin-left: 25px; }
  .header__item a > img {
    width: 20px; } }

.hero__inner {
  position: relative;
  display: flex;
  flex-wrap: wrap; }

.hero__image {
  line-height: 0;
  width: 100%; }

.hero__image img {
  width: 100%;
  height: auto;
  object-fit: cover; }

.hero__content {
  position: absolute;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 10%; }

.hero__title {
  margin-bottom: 10px;
  font-size: 5em;
  text-transform: uppercase;
  color: #fff; }

.hero__descritpion {
  line-height: 1.5;
  margin-bottom: 25px;
  font-size: 2.5em;
  color: #fff; }

@media (max-width: 1199px) {
  .hero__title {
    font-size: 1.8em; }
  .hero__descritpion {
    line-height: 1.3;
    margin-bottom: 15px;
    font-size: 1.5em; } }

@media (max-width: 767px) {
  .hero__content {
    position: relative;
    left: 0;
    padding: 25px 15px; }
  .hero__descritpion,
  .hero__title {
    color: #000; } }

/*Newsletter*/
.newsletter {
  background-color: #ffffff;
  padding: 60px 0; }

.newsletter__group {
  display: flex; }
  .newsletter__group .btn {
    max-width: 500px;
    width: 100%; }

.newsletter__input {
  padding: 15px 15px 15px 30px;
  width: 100%;
  margin-right: 10px;
  background: #ffffff;
  border: 1px solid #000;
  border-radius: 40px; }

@media (max-width: 1199px) {
  .newsletter {
    padding: 50px; } }

@media (max-width: 767px) {
  .newsletter {
    padding: 25px 25px 50px; }
  .newsletter__input {
    margin-bottom: 15px; }
  .newsletter__group {
    flex-direction: column; } }

/*Newsletter*/
.footer {
  background-color: #707070;
  padding-top: 150px;
  padding-bottom: 60px; }

.footer__inner {
  display: flex; }

.footer .navbar__link {
  color: #fff; }

.footer__column {
  width: 33.33%; }

.footer__title {
  font-size: 20px;
  color: #fff;
  margin-bottom: 15px; }

.social__list {
  display: flex;
  list-style: none; }

.social__item {
  margin-right: 10px; }

.social__item img {
  width: 25px; }

.payment {
  margin-top: 20px; }

.payment__list {
  display: flex;
  flex-wrap: wrap;
  list-style: none; }

.payment__icon {
  margin-right: 2px; }

.payment__icon svg {
  width: 30px; }

@media (max-width: 767px) {
  .footer__inner {
    flex-direction: column; }
  .footer__column {
    width: 100%;
    margin-bottom: 15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding-bottom: 10px; }
  .footer__column:last-child {
    margin-bottom: 0;
    border-bottom: none;
    padding-bottom: 0; } }

/*Collection starts*/
.collection {
  position: relative;
  margin-bottom: 30px; }

.collection__content {
  margin-top: 50px; }

/*Collection ends*/
/*Product Page*/
.product {
  display: flex;
  flex-wrap: wrap; }

.product__left {
  width: 50%;
  position: relative;
  z-index: 1;
  padding-right: 20px; }

.product__right {
  width: 50%;
  position: relative;
  z-index: 2;
  max-width: 650px;
  padding: 0 15px; }

.product__slider {
  display: flex;
  flex-wrap: wrap;
  position: relative; }

.product__image {
  width: 100%; }

.product__slides {
  display: none; }

.product__sliderNav {
  width: 100%;
  margin: 20px -3px;
  display: flex; }

.product__thumb {
  cursor: pointer;
  width: 25%;
  margin: 3px;
  display: inline-block;
  overflow: hidden;
  background: #fff; }
  .product__thumb img {
    width: 100%; }

.product__title {
  font-size: 36px;
  font-weight: 900;
  margin-bottom: 10px; }

.product__info {
  margin-top: 30px; }

@media only screen and (max-width: 767px) {
  .product__sliderNav {
    width: 100%;
    order: 2; }
  .product__left {
    width: 100%; }
  .product__right {
    width: 100%;
    padding: 30px 0;
    order: 3; }
  .product__title {
    font-size: 28px; } }

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s; }

@-webkit-keyframes fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }

@keyframes fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }

/* REVIEWs */
.reviews {
  color: #000; }

.cart {
  box-shadow: 0 0px 6px rgba(0, 0, 0, 0.16);
  background-color: #fff;
  padding: 40px; }

.cart__description {
  font-size: 18px;
  font-weight: 500;
  color: #000;
  margin-top: 15px 0 0; }

.cart__item {
  display: flex;
  margin-bottom: 30px; }

.cart__details {
  padding-left: 30px;
  display: flex;
  justify-content: space-between;
  width: 100%; }

.cart__total {
  margin-top: 40px;
  padding-top: 40px;
  border-top: 1px solid #000;
  width: 100%;
  justify-content: space-between; }

.cart__total textarea.form__control {
  height: 100px; }

.total__left,
.total__right {
  text-align: center;
  width: 450px;
  max-width: 100%; }

.total__right .btn {
  margin-bottom: 15px; }

ul.product-details {
  list-style: none; }

.cart__image {
  overflow: hidden;
  width: 180px;
  border: 1px solid #ececec;
  line-height: 0;
  padding: 5px; }

.cart__image img {
  width: 100%;
  height: 100%;
  object-fit: cover; }

.quantity {
  display: flex;
  align-items: center; }

.quantity img {
  width: 20px; }

.quantity__button {
  line-height: 0; }

.quantity__input {
  border: 0;
  width: 45px;
  text-align: center;
  padding: 15px 8px;
  -webkit-appearance: none;
  margin: 0 0px 0 10px;
  font-weight: 900;
  appearance: none; }

.cart__price {
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.cart__variants {
  margin-top: 10px; }

.cart__variants li {
  padding-bottom: 10px; }

.cart__remove {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
  justify-content: flex-end; }

.cart__remove img {
  width: 20px;
  margin-left: 5px; }

@media (max-width: 991px) {
  .cart {
    padding: 30px; }
  .cart__subtotal {
    font-size: 28px;
    margin-bottom: 15px; } }

@media (max-width: 767px) {
  .cart__item {
    border-bottom: 1px solid #000;
    padding-bottom: 20px;
    flex-wrap: wrap; }
  .cart__total {
    padding-top: 0;
    border-top: none;
    padding-bottom: 0;
    margin-top: 20px;
    border: 0; }
  .cart__image {
    width: 100%; }
  .cart__details {
    padding-left: 0;
    width: 100%;
    padding-top: 20px; }
  .cart__title h4 {
    font-size: 20px; }
  .cart__remove {
    font-size: 0; } }

.contact {
  position: relative;
  display: flex;
  flex-wrap: wrap; }

.contact__form {
  width: 50%;
  flex: 0 0 50%;
  padding-right: 50px; }

.contact__form form {
  max-width: 600px; }

.address {
  margin: 20px 0; }

.address__item {
  padding: 10px 0;
  font-style: normal;
  display: flex;
  align-items: center; }

.address__item img {
  width: 24px;
  margin-right: 10px; }

@media (max-width: 767px) {
  .contactPage {
    padding: 30px; }
  .contact__address {
    margin-top: 30px; }
  .contact__form {
    width: 100%;
    flex: 0 0 100%;
    padding-right: 0; }
  .faq {
    padding-top: 30px;
    margin-top: 40px;
    border-top: 1px solid #ccc; }
  .faq__item {
    margin-bottom: 30px; }
  .faq__question {
    font-size: 1em; } }

.customer {
  background-color: #fff;
  box-shadow: 0 0px 6px rgba(0, 0, 0, 0.16);
  padding: 60px;
  border-radius: 40px 0 40px 0; }

.logout {
  margin-top: 15px; }

.customer {
  background-color: #fff;
  box-shadow: 0 0px 6px rgba(0, 0, 0, 0.16);
  padding: 60px;
  border-radius: 40px 0 40px 0; }

.action_link a {
  display: inline-flex;
  align-items: center;
  padding: 10px 0; }

.action_link img {
  width: 18px;
  margin-right: 8px; }

.h-divider {
  margin: 25px 0 35px;
  width: 100%;
  flex: 0 0 100%;
  height: 1px;
  background-color: #707070; }

.customer__address {
  background-color: #fff;
  box-shadow: 0 0px 6px rgba(0, 0, 0, 0.16);
  padding: 60px;
  border-radius: 40px 0 40px 0;
  margin-top: 40px; }

.address__view {
  margin-top: 15px; }

.search__form {
  max-width: 450px;
  margin: 0 auto; }

.search__title {
  margin-bottom: 15px; }

.result {
  display: flex;
  flex-wrap: wrap;
  list-style: none; }

.result__item {
  width: 25%;
  padding: 25px; }

.result__image {
  display: block;
  width: 100%;
  line-height: 0; }

.result__image img {
  width: 100%;
  border-radius: 40px 0 40px 0;
  box-shadow: 0 0px 6px rgba(0, 0, 0, 0.16); }

.result__title {
  width: calc(100% - 40px);
  margin: 0 auto;
  padding: 20px 30px;
  font-size: 20px;
  box-shadow: 0 0px 6px rgba(0, 0, 0, 0.16);
  border-radius: 30px 0 30px 0;
  position: relative;
  background: #fff;
  line-height: 1.2; }

.result__image + .result__title {
  margin-top: -40px; }

@media (max-width: 991px) {
  .result__item {
    width: 33.33%;
    padding: 25px; } }

@media (max-width: 767px) {
  .result__item {
    width: 100%;
    padding: 10px 0; } }

.form__control {
  padding: 20px;
  width: 100%;
  max-width: 900px;
  margin-bottom: 10px;
  background-color: #ffffff;
  border: 1px solid #000;
  border-radius: 40px;
  color: rgba(68, 68, 68, 0.75);
  height: 60px;
  font-style: italic; }

select {
  -webkit-appearance: none;
  background-image: url(arrow.png);
  background-size: 10px;
  background-repeat: no-repeat;
  background-position: calc(100% - 20px) center; }

option {
  padding: 10px;
  font-size: 16px;
  line-height: 4;
  display: block;
  height: 30px;
  background: #f8f8f8;
  color: #000; }

.form__control:hover,
.form__control:focus,
.form__control:active {
  outline: none;
  border-color: #ccc; }

textarea.form__control {
  height: 150px; }

.form {
  display: flex;
  flex-wrap: wrap; }

.form__col {
  width: 50%;
  padding-left: 5px;
  padding-right: 5px; }
  .form__col.form__col--100 {
    width: 100%; }

@media (max-width: 767px) {
  .form__col {
    width: 100%;
    padding: 0; } }

.blog__List {
  display: flex;
  flex-wrap: wrap;
  list-style: none; }

.blog__item {
  width: 33.33%;
  padding: 0 25px; }

.blog__content {
  position: relative; }

.blog__time {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 48px;
  font-weight: 900;
  text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.3);
  color: #fff; }

.blog__image img {
  width: 100%;
  height: 350px;
  object-fit: cover; }

.blog__image {
  line-height: 0;
  border-radius: 40px 0 40px 0;
  overflow: hidden;
  box-shadow: 0 0px 6px rgba(0, 0, 0, 0.16); }

.blog__title {
  font-size: 22px;
  text-transform: capitalize;
  font-weight: 900;
  margin-bottom: 10px; }

.blog__text {
  width: calc(100% - 40px);
  margin: 0 auto 0;
  background: #fff;
  padding: 30px;
  border-radius: 30px 0 30px 0;
  box-shadow: 0 0px 6px rgba(0, 0, 0, 0.16);
  position: relative;
  top: -70px; }

.readmore {
  text-align: right; }

.readmore img {
  width: 20px;
  vertical-align: middle; }

@media (max-width: 991px) {
  .blog__item {
    width: 50%; }
  .blog__title {
    font-size: 18px; } }

@media (max-width: 767px) {
  .blog__item {
    width: 100%; } }

.article__image {
  box-shadow: 0 0px 6px rgba(0, 0, 0, 0.16);
  border-radius: 40px 0 40px 0;
  background-color: #fff;
  position: relative;
  line-height: 0;
  z-index: 1;
  overflow: hidden;
  min-height: 200px;
  background-color: rgba(0, 0, 0, 0.05); }

.article__image img {
  width: 100%; }

.article__head {
  padding: 60px;
  border-radius: 40px 0 40px 0;
  box-shadow: 0 0px 6px rgba(0, 0, 0, 0.16);
  width: calc(100% - 40px);
  position: relative;
  background-color: #fff;
  z-index: 2;
  margin: -150px auto 50px; }

time {
  margin-bottom: 20px;
  display: block; }

.article__title {
  margin-bottom: 15px; }

@media (max-width: 767px) {
  .article__head {
    padding: 25px;
    width: 100%;
    margin: 20px auto 30px; } }

.testimonial {
  text-align: center; }

.testimonial__header {
  margin-bottom: 50px; }

.testimonial__image img {
  margin: 0 auto 30px;
  width: 200px;
  height: 200px;
  margin-bottom: 15px; }

.testimonial__text {
  font-size: 20px;
  line-height: 1.5;
  color: #707070;
  max-width: 900px;
  margin: 0 auto; }

/*Faq*/
.faq__header {
  margin-bottom: 50px; }

.faq__list {
  list-style: none; }

.faq__item {
  margin-bottom: 40px; }

.faq__question {
  font-size: 1.15em;
  padding-right: 40px;
  position: relative;
  background-image: url(down-arrow.png);
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: calc(100% - 10px) center;
  cursor: pointer; }

.active .faq__question {
  background-image: url(minus.png); }

.faq__answer {
  margin-top: 0px;
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s ease 0s; }

.active .faq__answer {
  margin-top: 12px;
  max-height: 1000px; }

/*benefits*/
.benefits {
  padding: 50px 0 0; }

.benefits__row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px; }

.benefits__col {
  padding-left: 15px;
  padding-right: 15px;
  width: 33.33%; }

.benefit {
  text-align: center;
  background: #fff;
  padding: 30px;
  box-shadow: 0 0px 6px rgba(0, 0, 0, 0.16);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 120px; }

.benefit__title {
  font-size: 18px;
  line-height: 1.3;
  font-weight: 400; }

@media (max-width: 1199px) {
  .benefit {
    margin-bottom: 15px; }
  .benefits__col {
    padding: 10px 0;
    width: 100%; }
  .benefit__title {
    font-size: 14px; } }

/* Card Starts*/
.card {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 50px; }
  .card.card--reverse {
    flex-direction: row-reverse; }

.card__left {
  flex: 0 0 50%;
  max-width: 50%;
  position: relative;
  z-index: 1; }

.card__right {
  flex: 0 0 50%;
  max-width: 50%; }

.card__img {
  position: relative; }
  .card__img img {
    max-width: 100%; }

.card__text {
  box-shadow: 0 0px 6px rgba(0, 0, 0, 0.16);
  background-color: #fff;
  padding: 30px;
  width: calc(100% + 100px); }
  .card--reverse .card__text {
    margin-left: -100px; }

.card__title {
  font-size: 36px;
  font-weight: 600;
  color: #000;
  margin-bottom: 15px; }

@media (max-width: 1199px) {
  .card__text {
    box-shadow: 0 0px 6px rgba(0, 0, 0, 0.16);
    padding: 40px;
    width: calc(100% + 50px); }
    .card--reverse .card__text {
      margin-left: -50px; } }

@media (max-width: 767px) {
  .card {
    flex-direction: column-reverse;
    margin-bottom: 30px; }
    .card.card--reverse {
      flex-direction: column-reverse; }
  .card__title {
    font-size: 26px; }
  .card__left {
    flex: 0 0 100%;
    max-width: 100%;
    position: relative;
    z-index: 1; }
  .card__right {
    flex: 0 0 100%;
    max-width: 100%; }
  .card__text {
    box-shadow: 0 0px 6px rgba(0, 0, 0, 0.16);
    padding: 25px;
    width: 100%; }
    .card--reverse .card__text {
      margin-left: 0; } }
