<div class="container">
<section class="section text-center">
    <h2 class="section__title text--bolder">404 Page Not Found</h2>
    <p>The page you requested does not exist. Click <a href="/collections/all">here</a> to continue shopping.</p>
</section>
</div>
