{% section 'slideshow' %}




{% section 'home-collection' %}
{% section 'index-cards' %}
<section class="bg--white section section--sm text-center"> 
    <div class="container">
            <h2 class="section__title text--bolder">100% Satisfication Guarantee</h2>
            <p class="section__description description--auto">
                If you are not 100% satisfied with your purchase, then you may return your order for a full refund with no questions asked.
                <br><br>
                With over 35,000+ 5-star reviews, we highly doubt the special person that receives this gift will not cry happy tears and love you forever. However, if for any reason you are not satisfied, we will return your investment, every single penny, with no hard feelings.
            </p>
            <a href="#" class="btn btn--dark">BUY NOW</a>
    </div>
</section>



<section class="section">
    <div class="container">
        {% include 'testimonials' %}
    </div>
</section>
<section class="section bg--white">
    <div class="container">
        {% include 'faq' %}
    </div>
</section>

<section class="section section--sm text-center"> 
    <div class="container">
            <h2 class="section__title text--bolder">100% Satisfication Guarantee</h2>
            <h4 class="section__subtitle">Don't Wait. This 60% Discount Ends In...</h4>
            {% include 'timer' %}
            <a href="#" class="btn btn--dark">BUY NOW</a>
    </div>
</section>