<style>
    .benefits {
        padding-bottom: 40px;
    }
</style>
<section class="section bg--white">
    <div class="container">
        <div class="section__header">
            <h2 class="section__title text-center">About us</h2>
            <p class="section__description">Socialproo is one of the world's leading online discount stores. We are a
                fast
                growing company because we always put the customer first. A customer centered shopping experience has
                always
                been our goal, and we pride ourselves in our comprehensive policies that have put us in a realm above
                and
                beyond our competitors. Here at Socialproowe believe in passing along deeply discounted sale prices to
                our
                customers typically saving them 30-70% off of retail costs.</p>
        </div>
        <div class="section__content">
            <h4 class="section__subtitle text-center">Our company is built on three core principles:</h4>

            <div class="benefits text-center">
                <div class="benefits__row">
                    <div class="benefits__col">
                        <div class="benefit">
                            <h5 class="benefit__title">Excellent products</h5>
                        </div>
                    </div>
                    <div class="benefits__col">
                        <div class="benefit">
                            <h5 class="benefit__title">Excellent prices</h5>
                        </div>
                    </div>
                    <div class="benefits__col">
                        <div class="benefit">
                            <h5 class="benefit__title">Excellent customer service</h5>
                        </div>
                    </div>
                </div>
            </div>

            <p>We believe that serving our customers upholds a responsibility to ensure that they are satisfied with
                their
                purchases. We will do our best to make sure that our customers are happy. We believe we can create a
                good
                impact in the industry forever by focusing on our customers' needs. We're glad you've found your way to
                the
                online store that's known not only for the deep discounts but also for our top-notch customer service.
                We
                hope you'll be back often and spread the word to all your friends! Shop with us today and see the
                Socialproo
                difference.</p>



        </div>
    </div>
</section>