<style>
    .thankyou {
        box-shadow: 4px 4px 40px rgba(0, 0, 0, 0.1);
        background-color: #fff;
        padding: 60px 15px;
    }
    .thankyou__image{
        margin-bottom: 10px;
    }
    .thankyou__title{
        color: #707070;
    }
</style>
<section class="section">
    <div class="container">
        <div class="thankyou text-center">
            <div class="thankyou__image">
                <img data-src="{{ 'successfully.png' | asset_url }}" class="image"> 
            </div>
            <div class="thankyou__title title text--bolder">Successful order. Thank you for choosing us!</div>
        </div>
    </div>
</section>