{% layout theme %}
<!DOCTYPE html>
<html>

<head>
    <title>Please Log In</title>
    <style>
        .form {
            max-width: 550px;
            margin: 30px auto;
        }
    </style>
</head>

<body>
    <section class="section">
        <div id='container' class="container text-center">
            <div id='login'>
                <div>
                    <h1 class="section__title">{{ shop.name }}</h1>
                    {% if shop.password_message and shop.password_message != '' %}
                    {{ shop.password_message }}
                    {% else %}
                    <p><span class="default-text">Will be opening soon...</span></p>
                    {% endif %}
                </div>
                {% form 'storefront_password', class: "form" %}
                {{ form.errors | default_errors }}
                <div class="actions form__col form__col--100">
                    <input type='password' placeholder="Enter store using password: " name='password' id='password'
                        autofocus class="form__control" />
                </div>
                <div class="actions form__col form__col--100">
                    <input class="btn btn--dark btn--block" name="commit" type="submit" value="Enter" />
                </div>
                {% endform %}
            </div>

            <div id='footer'>
                <div id='owner'>
                    <a href="/admin" class="btn btn--sm">Are you the store owner? Log in here</a>
                </div>
            </div>
        </div>
    </section>
    <script type="text/javascript">
        document.getElementById('password').focus();
    </script>

</body>

</html>